In [41]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Load your dataset
df = pd.read_csv('vgsales_consolidated.csv')  # Replace with your actual dataset

# Select relevant columns
df = df[['Name', 'Genre', 'Publisher', 'Year', 'Global_Sales', 'Decade', 'FranchiseTag']].dropna()
df = df.reset_index(drop=True)

# summary of df columns
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11338 entries, 0 to 11337
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          11338 non-null  object
 1   Genre         11338 non-null  object
 2   Publisher     11338 non-null  object
 3   Year          11338 non-null  int64
 4   Global_Sales  11338 non-null  float64
 5   Decade        11338 non-null  int64
 6   FranchiseTag  11338 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 620.2+ KB
None

In [42]:
# Encode categorical features
genre_le = LabelEncoder()
publisher_le = LabelEncoder()

df['Genre_enc'] = genre_le.fit_transform(df['Genre'])
df['Publisher_enc'] = publisher_le.fit_transform(df['Publisher'])

# Scale numerical features
scaler = StandardScaler()
num_features = scaler.fit_transform(df[['Year']])

In [43]:
df.head()

,Name,Genre,Publisher,Year,Global_Sales,Decade,FranchiseTag,Genre_enc,Publisher_enc
0,007 quantum of solace,action,activision,2008,3.92,2000,0,0,15
1,007 racing,racing,electronic arts,2000,0.53,2000,0,6,136
2,007 the world is not enough,action,electronic arts,2000,2.47,2000,0,0,136
3,007 tomorrow never dies,shooter,electronic arts,1999,3.21,1990,0,8,136
4,1 vs 100,misc,dsi games,2008,0.09,2000,0,3,129

In [44]:
from transformers import BertTokenizer, BertModel
import torch

# Load BERT
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
bert_model = BertModel.from_pretrained('bert-base-uncased')

# Tokenize titles
titles = df['Name'].tolist()
inputs = tokenizer(titles, padding=True, truncation=True, return_tensors="pt")

# Generate embeddings
with torch.no_grad():
    outputs = bert_model(**inputs)

# Use [CLS] token embedding
title_embeddings = outputs.last_hidden_state[:, 0, :].numpy()  # shape: (num_samples, 768)

C:\Users\maxac\AppData\Roaming\Python\Python313\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [45]:
import numpy as np
import pyarrow as pa
import pyarrow.parquet as pq

# assume title_embeddings is a numpy array shape (N, D) dtype float32
X = title_embeddings.astype(np.float32)  # (N, D)
ids = [f"doc_{i}" for i in range(X.shape[0])]
meta = df['Name'].astype(str).tolist()    # or other metadata

# Build pandas DataFrame with embedding as Python list per row
df_parquet = pd.DataFrame({
    "id": ids,
    "title": meta,
    "embedding": X.tolist()   # list[float]
})

# Create explicit pyarrow schema using list<float32>
pa_schema = pa.schema([
    pa.field("id", pa.string()),
    pa.field("title", pa.string()),
    pa.field("embedding", pa.list_(pa.float32()))
])

table = pa.Table.from_pandas(df_parquet, schema=pa_schema, preserve_index=False)
pq.write_table(table, "title_embeddings.parquet", compression="zstd", row_group_size=100_000)

In [46]:
import pyarrow.dataset as ds
import numpy as np

dataset = ds.dataset("title_embeddings.parquet", format="parquet")

for batch in dataset.to_batches(batch_size=50_000, columns=["id","title","embedding"]):
    pdf = batch.to_pandas()
    emb_batch = np.vstack(pdf["embedding"].values).astype(np.float32)  # (B, D)
    # use emb_batch for indexing or inference

In [47]:
# extracting column from pandas DataFrame
ids = pdf['id'].tolist()
titles = pdf['title']
embeddings = np.vstack(pdf['embedding'].values).astype(np.float32)  # (N, D)

In [48]:
embeddings.shape  # (N, D)

(11338, 768)

In [49]:
import numpy as np

# Combine all features
X = np.concatenate([
    titles.values.reshape(-1, 1),
    embeddings,
    df[['Genre_enc', 'Publisher_enc', 'FranchiseTag']].values,
    num_features
], axis=1)

y = df['Global_Sales'].values
print("Feature matrix shape:", X.shape)
print("Target vector shape:", y.shape)

Feature matrix shape: (11338, 773)
Target vector shape: (11338,)

In [50]:
# Perform 80-20 train-test split
from sklearn.model_selection import train_test_split

X_train_name, X_test_name, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train = X_train_name[:, 1:].astype(np.float32)  # Exclude title column for model training
X_test = X_test_name[:, 1:].astype(np.float32)    # Exclude title column for model testing

print("Training set shape:", X_train.shape, y_train.shape)
print("Test set shape:", X_test.shape, y_test.shape)

Training set shape: (9070, 772) (9070,)
Test set shape: (2268, 772) (2268,)

In [52]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train.shape[1],)),
    Dropout(0.3),
    Dense(64, activation='relu'),
    Dense(1, activation='linear')  # Regression output
])

model.compile(optimizer='adam', loss='mse', metrics=['mae'])
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50

c:\Program Files\Python313\Lib\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 27.9874 - mae: 3.0827 - val_loss: 5.2270 - val_mae: 1.4799
Epoch 2/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 7.7737 - mae: 1.5197 - val_loss: 4.2591 - val_mae: 1.0753
Epoch 3/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 6.2699 - mae: 1.2112 - val_loss: 4.1778 - val_mae: 1.0332
Epoch 4/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 5.5871 - mae: 1.0853 - val_loss: 3.9746 - val_mae: 0.8213
Epoch 5/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 5.3853 - mae: 1.0343 - val_loss: 4.5934 - val_mae: 1.2618
Epoch 6/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 5.1430 - mae: 0.9875 - val_loss: 4.2071 - val_mae: 0.9014
Epoch 7/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 4.9015 - mae: 0.9322 - val_loss: 3.9488 - val_mae: 0.8688
Epoch 8/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 4.5305 - mae: 0.8858 - val_loss: 3.9634 - val_mae: 0.7313
Epoch 9/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 4.4541 - mae: 0.9020 - val_loss: 3.8101 - val_mae: 0.7718
Epoch 10/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 4.5218 - mae: 0.8492 - val_loss: 3.8547 - val_mae: 0.7685
Epoch 11/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 4.2203 - mae: 0.8472 - val_loss: 3.7940 - val_mae: 0.7187
Epoch 12/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 4.1175 - mae: 0.8466 - val_loss: 4.0745 - val_mae: 0.9344
Epoch 13/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.8827 - mae: 0.8447 - val_loss: 3.7856 - val_mae: 0.8523
Epoch 14/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 4.0753 - mae: 0.8518 - val_loss: 3.8291 - val_mae: 0.9121
Epoch 15/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.9808 - mae: 0.8164 - val_loss: 3.9124 - val_mae: 1.0235
Epoch 16/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.9040 - mae: 0.8292 - val_loss: 3.7267 - val_mae: 0.7087
Epoch 17/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.7249 - mae: 0.8160 - val_loss: 3.6207 - val_mae: 0.7156
Epoch 18/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.6769 - mae: 0.7992 - val_loss: 3.8768 - val_mae: 0.8095
Epoch 19/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.4474 - mae: 0.8229 - val_loss: 3.6136 - val_mae: 0.7196
Epoch 20/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.3670 - mae: 0.7932 - val_loss: 3.6324 - val_mae: 0.8673
Epoch 21/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.2317 - mae: 0.7796 - val_loss: 3.6473 - val_mae: 0.8415
Epoch 22/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.6085 - mae: 0.7764 - val_loss: 3.5875 - val_mae: 0.7550
Epoch 23/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.5286 - mae: 0.8056 - val_loss: 3.7168 - val_mae: 0.6939
Epoch 24/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.1989 - mae: 0.7790 - val_loss: 3.8835 - val_mae: 0.7300
Epoch 25/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3.3349 - mae: 0.7663 - val_loss: 3.5954 - val_mae: 0.8526
Epoch 26/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.1327 - mae: 0.7606 - val_loss: 3.4245 - val_mae: 0.8744
Epoch 27/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.7161 - mae: 0.7762 - val_loss: 3.7710 - val_mae: 0.9297
Epoch 28/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.3251 - mae: 0.7639 - val_loss: 3.6023 - val_mae: 0.7783
Epoch 29/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.9169 - mae: 0.7438 - val_loss: 3.4463 - val_mae: 0.7498
Epoch 30/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3.0248 - mae: 0.7473 - val_loss: 3.6006 - val_mae: 0.7239
Epoch 31/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.9386 - mae: 0.7224 - val_loss: 3.3866 - val_mae: 0.7955
Epoch 32/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.9218 - mae: 0.7534 - val_loss: 3.4107 - val_mae: 0.7585
Epoch 33/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.4569 - mae: 0.7302 - val_loss: 3.6909 - val_mae: 0.8261
Epoch 34/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.9077 - mae: 0.7403 - val_loss: 3.7337 - val_mae: 0.8229
Epoch 35/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.6454 - mae: 0.7395 - val_loss: 3.6055 - val_mae: 0.7626
Epoch 36/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 2.9362 - mae: 0.7484 - val_loss: 3.4973 - val_mae: 0.7524
Epoch 37/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.5542 - mae: 0.7275 - val_loss: 3.4727 - val_mae: 0.7135
Epoch 38/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.2614 - mae: 0.7051 - val_loss: 4.3500 - val_mae: 0.7979
Epoch 39/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.1073 - mae: 0.6942 - val_loss: 3.3821 - val_mae: 0.7127
Epoch 40/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.8096 - mae: 0.7187 - val_loss: 3.6915 - val_mae: 0.7877
Epoch 41/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.7888 - mae: 0.7216 - val_loss: 3.2960 - val_mae: 0.7567
Epoch 42/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.4960 - mae: 0.7272 - val_loss: 3.5396 - val_mae: 0.7684
Epoch 43/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.4075 - mae: 0.7291 - val_loss: 3.3397 - val_mae: 0.7252
Epoch 44/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.4303 - mae: 0.7668 - val_loss: 3.6975 - val_mae: 0.7259
Epoch 45/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.8432 - mae: 0.7466 - val_loss: 3.5712 - val_mae: 0.7885
Epoch 46/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.2733 - mae: 0.7059 - val_loss: 3.6064 - val_mae: 0.7535
Epoch 47/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.3908 - mae: 0.6965 - val_loss: 3.5139 - val_mae: 0.7343
Epoch 48/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 1.9798 - mae: 0.6753 - val_loss: 3.4778 - val_mae: 0.7127
Epoch 49/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.2114 - mae: 0.6649 - val_loss: 3.6120 - val_mae: 0.8463
Epoch 50/50
227/227 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.6858 - mae: 0.7107 - val_loss: 3.4189 - val_mae: 0.7344

In [64]:
predictions = model.predict(X_test)

# Constructing dataframe of titles, global sales, and predictions
results_df = pd.DataFrame({
    "Title": X_test_name[:, 0],  # Titles from the name-included test set
    "Actual_Global_Sales": y_test,
    "Predicted_Global_Sales": predictions.flatten()
})

# viewing model predictions
results_df

71/71 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

,Title,Actual_Global_Sales,Predicted_Global_Sales
0,chronicles of mystery the secret tree of life,0.08,0.388166
1,back at the barnyard slop bucket games,0.14,0.375769
2,earth defense force 2025,0.51,0.402670
3,scoobydoo unmasked,0.75,0.471825
4,mlb 10 the show,1.32,0.549422
...,...,...,...
2263,ben 10 omniverse 2,0.03,1.269474
2264,medabots metabee,0.05,0.466737
2265,katekyoo hitman reborn kindan no yami no delta,0.03,0.085962
2266,gaia saver hero saidai no sakusen,0.03,0.245511
2267,princess in love,0.08,0.317171

In [54]:
# Displaying top 10 highest global sales out of the test set
top_10 = results_df.sort_values(by="Actual_Global_Sales", ascending=False).head(10)
top_10

,Title,Actual_Global_Sales,Predicted_Global_Sales
1852,pokemon redpokemon blue,31.37,7.121071
743,new super mario bros wii,28.62,8.496074
1480,call of duty black ops 3,25.32,28.273090
982,nintendogs,24.76,6.165191
97,wii fit,22.72,0.559672
175,call of duty advanced warfare,21.90,21.513552
1576,fifa 16,16.44,6.566523
575,fifa soccer 13,16.16,17.964226
1395,call of duty world at war,15.87,1.731981
1970,pokemon blackpokemon white,15.32,3.900450

In [55]:
# Displaying top 10 predicted sales out of the test set
top_10_pred = results_df.sort_values(by="Predicted_Global_Sales", ascending=False).head(10)
top_10_pred

,Title,Actual_Global_Sales,Predicted_Global_Sales
1480,call of duty black ops 3,25.32,28.273090
175,call of duty advanced warfare,21.90,21.513552
575,fifa soccer 13,16.16,17.964226
1108,grand theft auto 2,3.42,15.451985
1643,the sims 4,2.97,12.058343
603,fifa soccer 07,6.38,11.409861
1660,assassins creed iii,13.10,11.178028
2025,super mario advance,5.49,10.861039
1532,madden nfl 09,7.14,8.524139
743,new super mario bros wii,28.62,8.496074

In [59]:
# Displaying bottom 10 predicted sales out of the test set
bottom_10_pred = results_df.sort_values(by="Predicted_Global_Sales", ascending=True).head(10)
bottom_10_pred

,Title,Actual_Global_Sales,Predicted_Global_Sales
1032,higurashi no nakukoru ni kizuna daiichikan ta...,0.07,0.001214
323,shitsuji ga aruji o erabu toki,0.01,0.010169
1598,oshiri kajiri mushi no rhythm lesson ds kawai ...,0.02,0.020956
413,kanshuu nippon joushikiryoku kentei kyoukai im...,1.71,0.039816
1341,sengoku musou 3 z special,0.04,0.044458
389,super run for money tousouchuu atsumare saikyo...,0.11,0.045531
2089,ds yamamura misa suspense maiko kogiku kisha ...,0.12,0.046416
25,sangoku koi senki omoide gaeshi cs edition,0.01,0.060601
1923,harukanaru toki no naka de yumenoukihashi,0.05,0.060900
2129,nobunagas ambition tenshouki with powerup kit ...,0.02,0.062068

In [60]:
# Displaying bottom 10 global sales out of the test set
bottom_10 = results_df.sort_values(by="Actual_Global_Sales", ascending=True).head(10)
bottom_10

,Title,Actual_Global_Sales,Predicted_Global_Sales
25,sangoku koi senki omoide gaeshi cs edition,0.01,0.060601
1038,thunder alley,0.01,0.520494
1039,satomi hakkenden hachi tamanoki,0.01,0.160552
1725,himawari pebble in the sky portable,0.01,0.485460
1731,monster rancher advance 2,0.01,0.281185
1734,legoland,0.01,3.335294
503,mario luigi paper jam mario kart 7 double pack,0.01,0.442020
1840,tengai makyo dai yon no mokushiroku,0.01,0.185748
425,pachitte chonmage tatsujin 16 pachinko hissats...,0.01,0.222706
1708,il2 sturmovik,0.01,0.457793

In [56]:
# calculating test MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predictions)
print("Test MAE:", mae)

Test MAE: 0.6983064030552353